@{
    ViewData["Title"] = "Home Page";
}
<style> 
    .welcome-styles {
        color: #fff;
    }
</style>
<div class="text-center welcome-styles">
    <h1 class="display-4">Witamy na BiedaFilmy</h1>
    <p>Witamy na BiedaFilmy</a>.</p>
</div>
