@model BiedaFilmy.Models.Role


<h2>Dodaj rolę</h2>
<div class="col-md-4">
    <form asp-action="AddRole">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="MovieId" class="form-control" type="hidden" />
        <div class="form-group">
            <label asp-for="Person" class="control-label">Imię i nazwisko</label>
            <input asp-for="Person" class="form-control" />
            <span asp-validation-for="Person" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CharacterName" class="control-label">Jako</label>
            <input asp-for="CharacterName" class="form-control" />
            <span asp-validation-for="CharacterName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-primary" />
        </div>
    </form>
</div>