@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<style>
    .row{
        color: white;
    }
    .form {

        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .input {
        padding: 5px;
        background-color: transparent;
        color: white;
        padding: 5px;
        background-color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .input:active .input:focus {
            background-color: black;
            color: white;
        }

        .input:focus {
            background-color: black;
            color: white;
        }
    .submit-button {
        color: white;
        background-color: black;
        border: 1px solid white;
    }

        .submit-button:hover {
            color: black;
            background-color: white;
            border: 1px solid black;
        }

        .submit-button:active {
            color: black;
            background-color: white;
            border: 1px solid black;
        }
</style>
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" class="form" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control" />
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class=" submit-button w-100 btn btn-lg btn-primary">Zapisz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
