@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style> 
    .register-page{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .input{
        padding: 5px;
        background-color: transparent;
        color: white;
        padding: 5px;
        background-color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .input:active .input:focus{
            background-color: black;
            color: white;
    }

       .input:focus {
            background-color: black;
            color: white;
        }

        .form {
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
        }

    .submit-button{
        color: white; 
        background-color: black;
        border: 1px solid white;
    }
    .submit-button:hover{
        color: black;
        background-color: white;
            border: 1px solid black;
    }

        .submit-button:active {
            color: black;
            background-color: white;
            border: 1px solid black;
        }
</style>
<h1>@ViewData["Title"]</h1>
<div class="register-page"> 
<div class="row">
    <div class="col-md-4 form">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Utwórz konto</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control input" autocomplete="email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                    <input asp-for="Input.Username" class="form-control input" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Username"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control input" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control input" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary submit-button">Rejestruj</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
